language: objective-c
before_install:
  - brew update
install:
  - mkdir -p $(brew --repo)/Library/Taps/travis
  - ln -s $PWD $(brew --repo)/Library/Taps/travis/homebrew-testtap
  - brew tap --repair
env:
  - PACKAGE=docbook-dsssl TEST_DEPS='docbook-sgml openjade'
  - PACKAGE=docbook-sgml TEST_DEPS='open-sp'
  - PACKAGE=openjade
before_script:
  - for pkg in $TEST_DEPS; do brew install $pkg || exit; done
script:
  - brew install --build-bottle -v $PACKAGE
  - brew postinstall $PACKAGE
  - brew bottle $PACKAGE
  - brew audit $PACKAGE
  - brew test $PACKAGE
deploy:
  provider: releases
  api_key:
    secure: LiGP+69L5H8UbKmCYMud1cmof8rs63Gf4VRLQ0+degJBXHVmWy1oZTdvfGeesDiQd0nCbUBmKLCQT76y2zsuUYuS6rCaY/uxqNC2TVyLmHkTyT/eyuapcshvdDxzW69qPF5G24ICoIFk4rmxgfseInuL6VCN7phQQM7LQjTNw4U=
  file_glob: true
  file: "*.bottle.tar.gz"
  skip_cleanup: true
  on:
    repo: petere/homebrew-sgml
    tags: true
